  
//   import "@ag-grid-community/styles/ag-grid.scss";
//   import "@ag-grid-community/styles/ag-theme-quartz.css";
  P {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
  }
  .content {
    padding-bottom: 20px !important;
    z-index: 9999;
  }
  .prodImg {
    margin-top: 24px;
    min-width: 40%;
    max-width: 40%;
    min-height: 75%;
    max-height: 100%;
  }
  .cardDesign{
    min-height: 100%;
    max-height: 100%;
  }
  .parent {
    background-color: #f6a179;
  }
  
  @media (min-width: 500px) {
    .column {
        flex: 0 0 calc(100%/2 - 40px);
    }
  }
  
  @media (min-width: 900px) {
      .column {
        flex: 0 0 calc(100%/4 - 40px);
    }
  }
